
html,body,svg { height:100% }

.modal {
	display: none;
}

svg:not(:root) { display: inline-block; }

body {
  background-color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 35px;
  text-align: center;
}

li {
	font-size: 12pt;
	text-align: left;
}

.exitPop {
  background: linear-gradient(180deg,#ff7755 0%,#aa4411 100%);
  border-radius: 0px;
  border: 1px solid #931;
  border-width: 1px 1px 1px 1px;
  padding: 10px 15px 10px 15px;
    color: #fff;
  font-size: initial;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal
  }


#ac-wrapper-ex {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/pop-bg.png") repeat top left transparent;
    z-index: 1001;
}

#ac-wrapper-al {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/pop-bg.png") repeat top left transparent;
    z-index: 1001;
}

#popup-al {
    background: none repeat scroll 0 0 #eaeaea;
    border-radius: 18px;
    border-width: 5px;
    border-color: black;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    height: 350px;
    margin: 5% auto;
    position: relative;
    width: 597px;
    font-size: 16pt;
}

#popup-ex {
    background: none repeat scroll 0 0 #eaeaea;
    border-radius: 18px;
    border-width: 5px;
    border-color: black;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    height: 550px;
    margin: 5% auto;
    position: relative;
    width: 597px;
    font-size: 16pt;
}

#svg_1:hover {
	fill: #fce57e;
	cursor: pointer;
}

#svg_2:hover {
	fill: #fce57e;
	cursor: pointer;
}


#svg_6:hover {
	fill: #fce57e;
	cursor: pointer;
}

#svg_8:hover {
	fill: #fce57e;
	cursor: pointer;
}
#svg_9:hover {
	fill: #fce57e;
	cursor: pointer;
}


#svg_10:hover {
	fill: #fce57e;
	cursor: pointer;
}

#svg_11:hover {
	fill: #fce57e;
	cursor: pointer;
}

#svg_12:hover {
	fill: #fce57e;
	cursor: pointer;
}
